@charset "utf-8";

/*Общие стили для всех страниц */
/*-------------------Стили блоов---------------------*/
/* Главная страница */
html, body, #page, section{
	margin:0px;		/* Убираем внешние отступы */
	padding:0px;	/* Убираем внутренние отступы */
	
}	
/*Стили для контейнера страницы*/
	#page {
		width: 1024px;
		min-height: 768px;
		margin: 0px auto;		/* Выравниваем по центру */
		}
/*Конец стилей контейнера страницы*//* Начало стилей хедера */
	header{
		overflow: hidden;
		width: 100%;	/* устанавливаем ширину элемента */
		min-height:100px;	/* устанавливаем высоту элемента */
		}
/* конец стилей хедера *//*стили контейнера для левого меню */
#leftmenu{
	overflow: hidden;
	width: 300px;	/* устанавливаем ширину элемента */
	min-height: 500px;		/* устанавливаем минимальную высоту элемента */
	float: left;	/* элементы плавают слева */
	}
/* конец стилей контейнера для левого меню *//* Начало стилей контента */
#content{
	overflow: hidden;
	float: left;	/* элементы плавают слева */
	width: 724px;	/* устанавливаем ширину элемента */
	min-height: 568px;	/* 	устанавливаем минимальную высоту элемента */
	}
/* Конец стилей контента */

/* Начало блока псевдоэлемента для снятия плавания блоков */
section::after{
content:"";	/* Контент отсутсвует */
display: block;	/* элемент показывается как блочный */
clear:both;	/* отменяет плавание объектов с обоих сторон */
}
/* конец блока псевдоэлемента для снятия плавания блоков *//* Стили футера */
footer{
	overflow: hidden;
	width: 100%;	/* устанавливаем ширину элемента */
	height: 100px;	/* устанавливаем высоту элемента */
	}
/* Конец стилей футера *//*-----------Конец создания блоков страницы-------------------

/* Начало стилей хедера */
header{
	background-color:#ee454E;	 /* устанавливаем цвет фона */
	}
/* конец стилей хедера */
/*стили контейнера для левого меню */
#leftmenu{
	background-color: #45ee4E;	 /* устанавливаем цвет фона */
	}
/* конец стилей контейнера для левого меню *//*стили контейнера для правого меню */
#rightmenu{
	background-color:  #007E8E;	 /* устанавливаем цвет фона */
	}
/* конец стилей контейнера для правого меню */
/* Начало стилей контента */
#content{
	background-color: #E07E8E;	 /* устанавливаем цвет фона */
	}
/* Конец стилей контента */
/* Стили футера */
footer{
	background-color: #0078EE;	 /* устанавливаем цвет фона */
	}
/* Конец стилей футера */